<app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">
    <div class="col col-sm-7">
        <div class="card mb-3">
            <div class="card-header">
                Doughnut Chart
            </div>
            <div class="card-block">
                <canvas baseChart height="250x"  *ngIf="doughnutChartLabels.length>0"  [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>



    <!-- <div class="col col-sm-6">
        <div class="card mb-3">
            <div class="card-header">
                Pie Chart
            </div>
            <div class="card-block">
                <canvas baseChart  height="180px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div> --> </div>

