<app-page-header [heading]="'Suivi Technique'" [icon]="'fa-table'"></app-page-header>
 <input class="form-control mr-sm-2" type="text"  [(ngModel)]="critere.name" placeholder="Search">
<br>
<div class="row">
    <div class="col col-xl-12 col-lg-12 ">
        <div class="card mb-3">
           
           

<table   class="table table-responsive table-hover">
    <thead>
        <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Etat</th>
                        <th>Durée</th>
                        <th>Application Source</th>
                        <th>Application Destinataire</th>
                        <th>Type de donée</th>
                        <th>Date d'entrée</th>
                        <th>Donnée Brut</th>

                        <th *ngIf="chosed">Evenements</th>

        </tr>
    </thead>  
    
    
    <tbody class="col col-xl-12 col-lg-12 ">
        
        <tr  *ngFor="let proc of procs | filterBy: critere ; let i = index "> 
                        <td align="center" valign="middle"><span class="fa fa-plus" (click)="chosed=!chosed" data-toggle="collapse" [attr.data-target]="'#group-of-rows-' + i" aria-expanded="false" [attr.aria-controls]="'group-of-rows-'+ i"></span> </td>
                      
                        <td align="center" valign="middle">{{proc.name}}</td>
                        <td align="center" valign="middle"> <span class="badge" [class.badge-danger]="proc.state=='error'" [class.badge-success]="proc.state=='success'" [class.badge-warning]="proc.state=='warn'">{{proc.state}}</span></td>
                        <td align="center" valign="middle">{{proc.duration}}</td>
                        <td align="center" valign="middle">{{proc.appsource}}</td>
                        <td align="center" valign="middle">{{proc.appdestination}}</td>
                        <td align="center" valign="middle">{{proc.datatype}}</td>
                        <td align="center" valign="middle">{{proc.entertime}}</td>
                        

                       
                       
                         <!-- App modal Bouton !-->
                        <td align="center" valign="middle">

                        <button class="btn btn-primary" (click)="open(content)">Donnée Brut</button>



                                            <ng-template  #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title"> Visualisation de la donnée</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{proc.databrut}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" align="left" class="btn btn-secondary" (click)="saveFile(proc)">Extension {{proc.datatype}}</button>
                         <button type="button" align="left" class="btn btn-secondary" (click)="txt(proc)">Fichier Texte</button>
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
                    </div>
                    </ng-template></td>




    <tbody id="group-of-rows-{{i}}" class="collapse">
        <tr  *ngFor="let evenement of proc.evenements">
            <td  align="center" colspan="3">
                <span class="badge" [class.badge-danger]="evenement.etat=='error'" [class.badge-success]="evenement.etat=='success'" [class.badge-warning]="evenement.etat=='warn'">{{evenement.etat}}</span>
            </td>
            <td  align="center" colspan="3">{{evenement.description}}</td>
            <td  align="center" colspan="3">{{evenement.date}}</td>
        </tr>
    </tbody>
            
        </tr>
       
    </tbody>

</table>
</div>
</div>
</div>

